{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-4">New Booking</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.row.label_tag }}
            {{ form.row }}
            {{form.row.error}}
        </div>
        <div class="form-group">
            {{ form.number.label_tag }}
            {{ form.number }}
        </div>
        <div class="form-group">
            {{ form.movie.label_tag }}
            {{ form.movie }}
        </div>
        <div class="form-group">
            {{ form.cinema.label_tag }}
            {{ form.cinema }}
        </div>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
{% endblock %}
